{% if YADM_HOSTNAME == 'DEV-004' -%}
setlocal shiftwidth=2
setlocal tabstop=2
{% else -%}
setlocal shiftwidth=4
setlocal tabstop=4
{% endif -%}
setlocal expandtab
let c_space_errors=1
let c_no_curly_error=1
